/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2024 daniyalMuhammadKhan
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/


:root { 
/* Colors */

--international-orange-engineering: hsl(1, 91%, 37%);
--cadet-blue-creyola: hsl(222, 14%, 69%);
--oxford-blue-1: hsl(222, 47%, 15%);
--oxford-blue-2: hsl(222, 44%, 14%);
--oxford-blue-3: hsl(222, 50%, 11%);
--sonic-silver: hsl(0, 0%, 44%);
--space-cadet: hsl(222, 44%, 18%);
--pastel-pink: hsl(1, 53%, 75%);
--eerie-black: hsl(0, 0%, 15%);
--light-gray: hsl(0, 0%, 80%);
--white: hsl(0, 0%, 100%);

/* Typography */

/* Font Family */

--ff-chakra-petch: 'Chakra Petch', sans-serif;
--ff-mulish: 'Mulish', sans-serif;

/* Font Sizes */

--fs-1: 3.5rem;
--fs-2: 3rem;
--fs-3: 2.4rem;
--fs-4: 1.8rem;
--fs-5: 1.4rem;
--fs-6: 1.2rem;

/* Font Weights */

--fw-400: 400;
--fw-600: 600;
--fw-700: 700;

/* Section Spacing */
/*  GPJGJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ */
--section-padding: 60px;   

/* Shadow */

--shadow: 0px 0px 100px 0px hsl(216, 9%, 90%);

/* Border Radius */

--radius-pill: 100px;
--radius-circle: 50%;


/* Transition */

--transition: 0.25s ease;
--cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

/* List style type to none and check hffffffffffffffffffgjjdddddddddddddddddddddddddddddddddd */
li {
  list-style: none;
}

a,
img,
span,
button {
  display: block;
}


img {
  height: auto;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

/* fhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */
address {
  font-style: normal;
}

html {
  font-family: var(--ff-mulish);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--sonic-silver);
  /* font size for the body is always 16px */
  font-size: 1.6rem;

  /* Line height is always 1.5 times the font size for the body */
  line-height: 1.5;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}



/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/


.container {
  padding-inline: 16px;
}

.material-symbol-rounded {
  --fs: 1em;
  font-variation-settings: 'FILL' 0, 'wght' 600, 'GRAD' 0, 'opsz' 40;
  overflow: hidden;
  font-size: var(--fs);
  width: 1em;
}


.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.section-subtitle {
  font-family: var(--ff-chakra-petch);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  /* color: var(--white); */
  max-width: max-content;
  margin-block-end: 12px;
  margin-inline: auto;
  font-size: var(--fs-5);
}

.section-subtitle::before {
  display: inline-block;
  content: "";
  width: 30px;
  height: 15px;
  margin-block-end: -2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section-subtitle.\:dark {
  color: var(--white);
}

.section-subtitle.\:dark::before {
  background-image: url("../images/text-bars-light.png");
}

.section-subtitle.\:light {
  color: var(--international-orange-engineering);
}

.section-subtitle.\:light::before {
  background-image: url("../images/text-bars-dark.png");
}

.section-title {
  text-align: center;
}

.h1,
.h2,
.h3,
.display-1 {
  font-weight: var(--fw-700);
  text-transform: uppercase;
  font-family: var(--ff-chakra-petch);
}

.display-1 {
  font-size: var(--fs-1);
}

.h1 {
  color: var(--white);
  line-height: 1.1;
  font-size: var(--fs-2);
  letter-spacing: 1px;

}

.h2 {
  font-weight: var(--fw-600);
  color: var(--eerie-black);
  line-height: 1.2;
  font-size: var(--fs-3);
}
.h2 {
  font-weight: var(--fw-600);
  color: var(--eerie-black);
  line-height: 1.2;
  font-size: var(--fs-4);
}

.btn {
  background-color: var(--international-orange-engineering);
  color: var(--white);
  max-width: max-content;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: var(--radius-pill);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  font-size: var(--fs-5);
  font-family: var(--ff-chakra-petch);
  border: 1px solid transparent;
  transition: var(--transition);
  will-change: transform;
}

.btn:is(:hover, :focus-visible) {
  transform: translateY(-5px);
  background-color: var(--oxford-blue-3);
  border-color: var(--white);
}

/* .material-symbols-rounded {
  font-size: 2rem;
} */


.moving-animation {
  animation: moving-car 2s ease-in-out infinite alternate;
}

@keyframes moving-car {
  0% {transform: translateY(0);}
  100% {transform: translateY(-10px);}
}

.section {
  padding-block: var(--section-padding);
}

.red-link {
  font-family: var(--ff-chakra-petch);
  color: var(--international-orange-engineering);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

.w-100 {
  width: 100%;
}

.img-holder {

  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.has-scroll-bar {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 30px;
  scroll-snap-type: mandatory;
  padding-block-end: 20px;
}

.scroll-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scroll-bar::-webkit-scrollbar {
  height: 16px;
}

.has-scroll-bar::-webkit-scrollbar-track {
  background-color: var(--pastel-pink);
  border-radius: 20px;
}

.has-scroll-bar::-webkit-scrollbar-thumb {
  background-color: var(--international-orange-engineering);
  border-radius: 20px;
  border: 3px solid var(--pastel-pink);
}

.has-scroll-bar::-webkit-scrollbar-button {
  width: 15%;
}






/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/



.header .btn {
  display: none;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 15px;
  padding-inline-start: 40px;
  z-index: 4;

}


.logo img {
  width: 100px;
}



.nav-toggle-icon {
  width: 30px;
  height: 2px;
  background-color: var(--white);
  transition: var(--transition);
  
}

.nav-toggle-icon:not(:last-child) { 
  margin-block-end: 7px;
}

.nav-toggle-btn.active .icon2 {
  opacity: 0;
  transform: translateX(-10px);
}

.nav-toggle-btn.active .icon1 {
  transform: rotate(45deg) translate(8px, 8px);
}
.nav-toggle-btn.active .icon3 {
  transform: rotate(-45deg) translate(4px, -4px);
}

.navbar {

  position: absolute;
  top: 100px;
  right: 30px;
  background-color: var(--international-orange-engineering);
  /* padding: 20px 40px; */
  min-width: max-content;
  width: 30%;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
  z-index: 2;
}

.navbar.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition-duration: 0.5s;
}

.navbar .nav-link {
  color: var(--white);
  padding: 10px 20px;
  font-size: var(--fs-5);
  text-transform: uppercase;
  transition: var(--transition);
  font-family: var(--ff-chakra-petch);

}

.navbar .nav-link:is(:hover, :focus) {
  background-color: var(--white);
  color: var(--international-orange-engineering);
}









/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  position: relative;
  padding-block-start: calc(var(--section-padding) + 70px);
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

.hero .container {
  display: grid;
  gap: 30px;
}


.hero-banner {
  aspect-ratio: var(--width) / var(--height);
}

.hero-banner img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  z-index: -1;
  overflow: hidden;
} 

.hero .section-subtitle {
  text-transform: unset;
}

.hero .section-text {
  color: var(--white);
  margin-block: 14px 18px;
}

.hero .btn {
  margin-inline: auto;
}

.hero-text {
  padding-inline: 16px;
}





/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/


.service-banner {
  display: none;
}
.service {
  text-align: center;
  
}

.servise-list {
  gap: 0;
  margin-block-end: 40px;
}


.service-card .service-icon {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 24px;
}


.service-card .card-text {
  margin-block: 8px;
  line-height: 1.2;
}

.service .btn {
  margin-inline: auto;
}





/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  background-color: var(--space-cadet);
  color: var(--white);
  text-align: center;
}

.about .container {
  display: grid;
  gap: 50px;
}


.about .section-title {
  color: var(--white);
}

.about-text {
  margin-block: 12px 8px;
}


.about-list {
  display: grid;
  gap: 25px;
  
}

.about-item {
  background-color: var(--oxford-blue-2);
  padding: 40px 20px;
  transition: var(--transition);
}

.about-item:is(:hover, :focus-visible) {
  background-color: var(--international-orange-engineering);
  transform: translateY(-10px);
}

.about .strong {
  display: block;
  line-height: 1.1;
}






/*-----------------------------------*\
  #WORK
\*-----------------------------------*/


.work .container {
  padding-inline: 0;
}

.work .section-title {
  margin-block-end: 24px;
}

.work-card {
  position: relative;
}

.work-card .work-card-content {
  background-color: var(--white);
  max-width: 90%;
  margin-inline: auto;
  padding: 30px 10px;
  text-align: center;
  position: relative;
  box-shadow: var(--shadow);
  margin-block-start: -60px;

}

.work-card .card-subtitle {
  font-family: var(--ff-chakra-petch);
  font-weight: var(--fw-700);
  color: var(--international-orange-engineering);
  margin-block-end: 5px;
  text-transform: uppercase;
}

.work-card .card-title {
  margin-block-end: 10px;
}

.work-card .card-btn {
  background-color: var(--international-orange-engineering);
  color: var(--white);
  margin-inline: auto;
  width: 38px;
  height: 38px;
  border-radius: var(--radius-circle);
  display: grid;
  place-items: center;
}






/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/


.footer {
  color: var(--cadet-blue-creyola);
}

.footer .shape {
  display: none;
}

.footer-top {
  background-color: var(--space-cadet);
}

.footer-top .container {
  display: grid;
  gap: 35px;
}

.footer-brand .footer-text {
  margin-block: 18px 20px;
}

.footer-brand .social-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.social-list .social-link {
  padding: 14px;
  background-color: var(--oxford-blue-3);
  border-radius: var(--radius-circle);
  transition: var(--transition);
}

.social-link:is(:hover, :focus-visible) {
  background-color: var(--international-orange-engineering);
  transform: translateY(-5px);
}


.footer-list .h3 {
  color: var(--white);
  margin-block-end: 18px;
}

.footer-list .p {
  color: var(--white);
  margin-block: 7px;
  font-weight: var(--fw-400);
}

.footer-list li:not(:first-child) {
  margin-block-start: 16px;
}

.footer-list .footer-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-link:is(:hover, :focus-visible) {
  color: var(--international-orange-engineering);
}

.footer-link .material-symbols-rounded {
  color: var(--international-orange-engineering);
  font-size: 1.8rem;
  flex-shrink: 0;
}


.footer-bottom {
  background-color: var(--oxford-blue-2);
  padding-block: 20px;
}

.footer-bottom .copyright {
  text-align: center;
  font-size: var(--fs-5);
}




/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/


/* for larger than 575px screens */

@media (min-width: 575px) {

  /* Custom properties */

  :root {
  --fs-2: 4rem;
  --fs-3: 2.8rem;
  --fs-4: 2rem;
  }

  .container {
  
    max-width: 540px;
    margin-inline: auto;
    width: 100%;
  }

  .section-subtitle {
    --fs-5: 1.6rem;
  }

  .h2 {
    font-weight: 700;
  }


  /* HERO */

  .hero .container {
    max-width: unset;
  }

  .hero-content {
    max-width: 520px;
    margin-inline: auto;
  }

  .hero .section-text {
    font-size: 1.8rem;
  }


/*   Services */

.service .section-title {
  margin-block-end: 30px;
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-block-end: 40px;
}

.service-card .card-text {
  max-width: 220px;
  margin-inline: auto;
}


/* About */


.about .about-text {
  font-size: 18px;
}

.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about-item {
  padding: 20px;
}


/* Work */


.scroll-item {
  min-width: calc(50% - 15px);
}


/* Fotter */

.footer-top {
  position: relative;
  overflow: hidden;
}

.footer-top .container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-top .shape-3 {
  display: block;
  position: absolute;
  right: 0;
  bottom: -30px;
}


  
}



/* RESPONSIVE FOR LARGER THAN 768 px SCREENS */

@media (min-width: 768px) {


}
  



